{{define "carousel"}}
    <div class="carousel">
        <div class="barousel-content">
            <div class="carousel-item">
                <img src="" alt="" class="carousel-img">
                <div class="carousel-caption"></div>
            </div>
            <div class="carousel-item">
                <img src="" alt="" class="carousel-img">
                <div class="carousel-caption"></div>
            </div>
            <div class="carousel-item">
                <img src="" alt="" class="carousel-img">
                <div class="carousel-caption"></div>
            </div>
        </div>
    </div>
{{end}}