{{define "style"}}
<link rel="stylesheet" href="/static/styles/details.css">
{{end}}

{{define "title"}}
{{.Artists.Name}}
{{end}}

{{define "content"}}

<main>
    <div class="artist-container">
        <div class="artist-image">
            <img src="{{.Artists.Image}}" alt="Artist Image">
        </div>
        <div class="artist-data">
            <h1 id="artist-name">{{.Artists.Name}}</h1>
            <div class="split-container">
                <div class="info-section left-side">
                    <div class="artist-members">
                        <div class="title">
                            <h2>Members</h2>
                        </div>
                        <ul>
                            {{range .Artists.Members}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="creation-date">
                        <div class="title">
                            <h2>Creation Date</h2>
                        </div>
                        <p>{{.Artists.CreationDate}}</p>
                    </div>
                    <div class="dates">
                        <div class="title">
                            <h2>Dates</h2>
                        </div>
                        {{range .Dates.Date}}
                        <p>{{.}}</p>
                        {{end}}
                    </div>
                    <div class="locations">
                        <div class="title">
                            <h2>Locations</h2>
                        </div>
                        {{range $i, $location := .Locations.Locations}}
                        <a id="anchor" href="https://www.google.com/maps/place/{{index $.Locations.LocationsIds $i}}" target="_blank">
                            <p>{{$location}}</p>
                        </a>
                        {{end}}
                    </div>
                </div>
                <div class="info-section right-side">
                    <div class="first-album">
                        <div class="title">
                            <h2>First Album</h2>
                        </div>
                        <p>{{.Artists.FirstAlbum}}</p>
                    </div>
                    <div class="relation">
                        <div class="title">
                            <h2>Tour Locations & Dates</h2>
                        </div>
                        {{range $key, $value := .Relations.DatesLocations}}
                        <div class="location">
                            <h3>{{$key}}</h3>
                            <ul>
                                {{range $value}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{end}}