{{define "style"}}
<link rel="stylesheet" href="/static/styles.css">
{{end}}
{{define "title"}}Music Hub{{end}}

{{define "content"}}
{{block "carousel" .}}{{end}}
<main>
    <div class="cards-container">
        {{range $key,$artist := .}}
        <div class="card">
            <a id="anchor" href="http://localhost:8000/artists/{{$artist.Id}}">
            <img src="{{.Image}}" alt="{{.Name}}Image">
            <div class="card-title">
               <h3 id="anchor">{{$artist.Name}}</h3>
            </a>
            </div>
        </div>
        {{end}}
    </div>
</main>
{{end}}
