/* Spotify-inspired colors */
:root {
    --green: #1db954;
    --black: #000;
    --white: #fff;
    --gray: #1F1F1F;
    --scndgray: #1F1F1F;
    --lightgray: #D9D9D9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}


header {
    width: 100%;
    background-color: var(--gray);
    padding: 1em 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo-container {
    margin: 0 auto;
    width: fit-content;
}

.logo {
    width: 120px;
    height: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    min-height: 90vh;
}
footer {
    background-color: var(--green);
    padding: .3rem;
    text-align: center;
    color: var(--white);
    filter: contrast(100%);
    font-size: 25px;
    font-weight: 600;
}