:root {
    --green: #1db954;
    --black: #000;
    --white: #fff;
    --gray: #1F1F1F;
    --scndgray: #1F1F1F;
    --lightgray: #D9D9D9;
}
.carousel {
    margin-top: 70px;
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.carousel > .carousel-img {
    width: 100%;
    min-height: 400px;
    /* max-height: 80vh; */
    height: 100vh;
    filter: contrast(150%) brightness(30%); 
    opacity: .3;
}
.carousel-img.active {
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}
.carousel-title {
    width: 100%;
    color: var(--green);
    font-size: 7vmax;
    font-size: 11vmin;
    /* background-color: #00000031; */
    text-shadow: 0 0 .4em var(--black),0 0 .4em var(--black);
    /* backdrop-filter: blur(20px); */
    padding: 1em 0;
    border-radius: 1rem;
    text-align: center;
    white-space: nowrap;
    /* border-bottom: .2em solid var(--green);
    box-shadow: 0 0 .4rem var(--green), 0 0 .4rem var(--green); */
    user-select: none;
}

.cards-container {
    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    height: 350px;
    width: 240px;
    background-image: linear-gradient(to bottom right, #3A3838 20%, #1F1F1F 80%);
    border: 2px solid var(--gray);
    border-radius: 10px;
    /* padding: 10px; */
}

.card img {
   /* transform: scale(100%); */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 30px;
}

.card-title a {
    color: var(--lightgray);
    text-decoration: none;
}

.card-title a:hover {
    color: var(--green);
}